.movieItem {
  list-style-type: none;
  border: 2px dotted aqua;
  width: 400px;
}
.poster {
  display: block;
  margin: 0 auto;
  padding-top: 16px;
}
.movieLink {
  text-decoration: none;
  color: wheat;
  font-size: 32px;
  padding: 20px;
  margin-right: 25px;
  text-align: center;
}
