.movies {
  width: 100%;
  min-height: 100vh;
  background-image: url(https://bogatyr.club/uploads/posts/2021-11/thumbs/1636962610_3-bogatyr-club-p-sinii-fon-na-rabochii-stol-3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.header {
  text-align: center;
  color: antiquewhite;
}
